*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    background-color: mediumorchid;
}

.form{
height:550px;
width:800px;
border:2px solid black;
background-color: white;
margin: auto;
margin-top: 33px;



}
.r{
    margin-top:22px;
    margin-left:11px;
    height:44px;
    /* border:2px solid pink; */
}

.t{
margin:10px;
}

.n{
    margin:10px;
}

/* label{
    margin:10px;
} */
.left{
    display:inline-block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border:1px solid rgb(0, 255, 85); */
    margin-left:6px;
    margin-top:22px;

}



.right{
    display: inline-block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border:1px solid red; */
    margin-left:29px;

}
.p{
    margin:10px 0px 10px ;
    padding:10px;
    height:40px;
    font-size: 16px;
    width:354px;
    border-width: 1px;
    border-style:inset;
    border-color: gray;
    border-radius: 4px;
}

.ki{
    font-size: 20px;
    /* border:1px solid black; */
    margin-top:2px;
    width:96%;
    margin-left:8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
}
.y{
    
    /* border:1px solid black; */
    margin-right:12px;
    display: inline-block;
    margin-top:12px;
}

.k{
display:inline-block;

margin-left:114px;
margin-top: 12px;


}
.i{
display:inline-block;
/* border:1px solid black; */
margin-left: 140px;
}
.btn{
    color: white;
    height:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px ;
    width:750px;
    margin-top:30px;
    margin-left:20px;
    background-color:rgb(153, 22, 165);
    cursor: pointer;
    
}
